* {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
}

.modal-content h3 {
    margin-bottom: 20px;
    text-align: center;
}

.modal-content p {
    margin: 5px 0;
    text-align: left; /* Wyrównanie tekstu do lewej */
    width: 100%; /* Szerokość, by tekst się wyrównał */
}

.modal-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-content label {
    font-weight: bold;
}

.modal-content input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content .buttons-container {
    display: flex;
    flex-direction: column; /* Przyciski pod sobą */
    gap: 10px; /* Odstęp między przyciskami */
    margin-top: 10px; /* Zmniejszenie odstępu od formularza */
    width: 100%;
    align-items: center;
}

.modal-content button {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content .edit-button {
    background-color: #ffcc00;
    color: black;
}

.modal-content .cancel-button {
    background-color: #e2332d;
    color: white;
}

.modal-content .edit-button:hover {
    background-color: #ddca23;
}

.modal-content .cancel-button:hover {
    background-color: #c2231d;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(48, 47, 47, 0.5);
    z-index: 1000;
}
